{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <h1 class="navlogo">SUSinsta <img src="{% static 'img/golang_gopher_src_logo_icon_168155.webp' %}" alt="" class="logo"></h1>
        <ul class="navul">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'create' %}">Create</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="footer">  
            <div class="row">
                <ul class="footerul">
                    <li><a href="#" class="txtfooter">Contact us</a></li>
                    <li><a href="#" class="txtfooter">Our Services</a></li>
                    <li><a href="#" class="txtfooter">Career</a></li>
                </ul>
            </div>
        
            <div class="row">
            Lorem ipsum dolor sit © 2024 || Designed By: Suslik
            </div>
        </div>
    </footer>

    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>